#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#admin {
  top: 20px;
  background-color: #04AA6D;
}

#customers {
  top: 80px;
  background-color: #2196F3;
}

#products {
  top: 140px;
  background-color: #f44336;
}

#orders {
  top: 200px;
  background-color: #ababab
}

#home {
  top: 260px;
  background-color: #555
}